<header>
    <div class="navbar-fixed">
        <nav class="white">
            <div class="nav-wrapper">
                <div><a class="grey-text text-darken-4 sidenav-trigger hide-on-large-only" href="#"
                        data-target="nav-mobile" onclick="sidenavinstance.open()"><i
                            class="material-icons button-collapse">menu</i></a><a class="brand-logo" href="/"><img
                            src="/images/logos/black-transparent-nav.png" /></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a class=" black-text" href="sass.html"><i class="material-icons left">search</i>Search</a>
                        </li>
                        <li><a class=" black-text" href="badges.html"><i
                                    class="material-icons right">view_module</i>Cart</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="nav-mobile">
        <li><a href="/">Home</a></li>
    </ul>
</header>